<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/journal.css">
    <title>Document</title>
</head>
<body>
    <div class="post-form post-form--text gif-search-variation gs-variation-ran-once" data-subview="postForm" style="display: block;">
        <div class="post-margin" data-js-margin="">
            <div class="post-form--avatar" data-subview="avatar">
                <div class="channel-avatar avatar-container">
                    <a class="avatar-link" href="https://jochemstoel.tumblr.com/" target="_blank" title="Jochem Stoel" style="background-image: url('https://66.media.tumblr.com/avatar_048a728a1488_128.pnj')"><img class="avatar-image" src="https://66.media.tumblr.com/avatar_048a728a1488_128.pnj" alt="jochemstoel"></a>
                </div>
                <div class="primary-avatar avatar-container" style="display: none; transform: scale(0);">
                    <a class="avatar-link" href="" target="_blank" title="Jochem Stoel" style="background-image: url('https://66.media.tumblr.com/avatar_048a728a1488_128.pnj')"><img class="avatar-image" src="https://66.media.tumblr.com/avatar_048a728a1488_128.pnj" alt="jochemstoel"></a>
                </div>
            </div>
        </div>
        <div class="post-container" data-js-container-outer="" style="opacity: 1;">
            <div class="post-container-inner post" data-js-container-inner="" >
                <div class="post-form--header clearfix" data-js-header="">
                    <div class="controls-container">
                        <div class="control left">
                            <div data-subview="tumblelogSelect">
                                <button class="tumblelog-select " data-js-clickabletumbleloglabel=""><span class="caption" data-js-tumbleloglabel="">palaktakkamore</span> <span class="dropdown icon_arrow_carrot_down pinned-target" data-js-tumblelogselectpin=""></span> </button>
                            </div>
                        </div>
                        <div class="control right">
                            <div class="post-form--uploading-indicator" data-subview="uploadingIndicator">
                                <div class="knight-rider-container" data-subview="loader" style="display: none;">
                                    <div class="knight-rider-loader small" data-js-knightrider="">
                                        <div class="knight-rider-bar"></div>
                                        <div class="knight-rider-bar"></div>
                                        <div class="knight-rider-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-form--post-settings-button" data-subview="postSettings">
                                <button class="post-settings" data-js-clickablepostsettingscog=""><span class="dropdown settings-icon pinned-target" data-js-postsettingscog=""></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-form--form post-content-text">
                    <div data-subview="postTypeForm">
                        <div class="title-field" data-name="title" data-subview="title">
                            <div data-js="editor-wrapper" class="editor-wrapper" style="position: relative;">
                                <div data-js="editor-slot" class="editor-slot" style="position: relative;">
                                    <div class="editor editor-plaintext" aria-label="Post title" contenteditable="true" data-js-plaintexteditor=""><span>&#8203;</span></div>
                                    <div data-js="editor-placeholder" class="editor-placeholder" style="position: absolute;">Title</div>
                                </div>
                            </div>
                        </div>
                        <div data-subview="reblogTree"></div>
                        <div class="caption-field inline-controls-show tray-open" data-name="body" data-subview="body">
                            <div data-js="editor-wrapper" class="editor-wrapper" style="position: relative; display: block;">
                                <div data-js="editor-slot" class="editor-slot" style="position: relative;">
                                    <div class="editor editor-richtext" aria-label="Post body" contenteditable="true" data-js-richtexteditor="" style="min-height: 80px;">
                                        <p>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="bubbles" style="position: absolute; top: 0px; left: 0px; display: none;">
                                        <div class="bold" title="Bold (Ctrl-B)" data-name="bold" data-el="b" data-command="bold" data-type="inline">&nbsp;</div>
                                        <div class="italic" title="Italic (Ctrl-I)" data-name="italic" data-el="i" data-command="italic" data-type="inline">&nbsp;</div>
                                        <div class="headline" title="Headline (Ctrl-Shift-2)" data-name="headline" data-el="h2" data-command="formatBlock" data-type="block">&nbsp;</div>
                                        <div class="link" title="Link (Ctrl-K)" data-name="link" data-el="a" data-command="createLink" data-type="inline">&nbsp;</div>
                                        <div class="strikethrough" title="Strikethrough (Ctrl-Shift-6)" data-name="strikethrough" data-el="strike" data-command="strikethrough" data-type="inline">&nbsp;</div>
                                        <div class="ordered-list" title="Ordered list (Ctrl-Shift-7)" data-name="orderedList" data-el="ol" data-command="insertOrderedList" data-type="list">&nbsp;</div>
                                        <div class="unordered-list" title="Unordered list (Ctrl-Shift-8)" data-name="unorderedList" data-el="ul" data-command="insertUnorderedList" data-type="list">&nbsp;</div>
                                        <div class="quote" title="Blockquote (Ctrl-Shift-9)" data-name="blockquote" data-el="blockquote" data-command="formatBlock" data-type="block">&nbsp;</div>
                                    </div>
                                    <div class="link-bubbles" style="position: absolute; top: 0px; left: 0px; display: none;">
                                        <div class="options" style="display: none;">
                                            <div class="edit">Edit</div>
                                            <div class="remove">Remove</div>
                                            <div class="open">Open</div>
                                        </div>
                                        <div class="url" style="display: none;">
                                            <input type="text" placeholder="http://">
                                            <div class="done">Done</div>
                                        </div>
                                    </div>
                                    <div data-js="editor-placeholder" class="editor-placeholder" style="position: absolute;">Your text here</div>
                                    <div class="inline-controls" style="position: absolute; top: 0px; left: 0px;">
                                        <div class="opener"></div>
                                        <div class="tray">
                                            <div class="control add-image" data-control-name="inline-image" tabindex="0" title="Insert photo (Ctrl-Shift-P)" style="opacity: 1; right: 0px;">
                                                <input type="file" accept="image/*" tabindex="-1" multiple="true">
                                            </div>
                                            <div class="control add-inline-embed" data-control-name="inline-embed" tabindex="0" title="Insert video (Ctrl-Shift-M)" data-enabled-title="Insert video (Ctrl-Shift-M)" data-disabled-title="Sorry, you can't add more than 5 videos" style="opacity: 1; right: 0px;"></div>
                                            <div class="post-form--inline-embed-field" data-subview="inlineEmbedField">
                                                <div class="inline-embed-field" data-name="inlineEmbedField">
                                                    <div data-subview="inlineEmbedInput">
                                                        <div data-js="editor-wrapper" class="editor-wrapper" style="position: relative;">
                                                            <div data-js="editor-slot" class="editor-slot" style="position: relative;">
                                                                <div class="editor editor-plaintext" aria-label="Paste a URL or embed code" contenteditable="true" data-js-plaintexteditor=""><span>&#8203;</span></div>
                                                                <div data-js="editor-placeholder" class="editor-placeholder" style="position: absolute;">Paste a URL or embed code</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control add-gif" data-control-name="gif" tabindex="0" title="Insert GIF (Ctrl-Shift-G)" data-enabled-title="Insert GIF (Ctrl-Shift-G)" style="opacity: 1; right: 0px;"></div>
                                            <div class="control add-hr" data-control-name="hr" tabindex="0" title="Insert horizontal line (Ctrl-Shift-L)" style="opacity: 1; right: 0px;"></div>
                                            <div class="control add-read-more" data-control-name="read-more" tabindex="0" title="Insert read-more link (Ctrl-Shift-K)" style="opacity: 1; right: 0px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="html-field" data-subview="htmlField" data-name="body" style="display: none;">
                                <div class="html-mode">
                                    <div class="tabs clearfix">
                                        <div class="tab src-button active" data-js-srcbutton=""><span class="icon html" data-js-srcicon=""></span> <span class="tab-label" data-js-srclabel="">HTML</span></div>
                                        <div class="tab preview-button" data-js-previewbutton=""><span class="icon"></span> <span class="tab-label" data-js-previewlabel="">Preview</span></div>
                                        <div class="tab tooltip-container"><span class="icon pinned-target" data-js-editorhelp=""></span></div>
                                    </div>
                                    <div class="views">
                                        <div class="view src-view" data-js-srcview="" style="display: block;">
                                            <div data-js-ace="" class=" ace_editor ace-post-form">
                                                <div style="position: absolute;"></div>
                                                <textarea class="ace_text-input" wrap="off" autocapitalize="off" spellcheck="false" aria-label="HTML content" style="opacity: 0;"></textarea>
                                                <div class="ace_gutter" style="display: none;">
                                                    <div class="ace_layer ace_gutter-layer ace_folding-enabled"></div>
                                                    <div class="ace_gutter-active-line"></div>
                                                </div>
                                                <div class="ace_scroller">
                                                    <div class="ace_content">
                                                        <div class="ace_layer ace_print-margin-layer">
                                                            <div class="ace_print-margin" style="left: 20px; visibility: hidden;"></div>
                                                        </div>
                                                        <div class="ace_layer ace_marker-layer"></div>
                                                        <div class="ace_layer ace_text-layer" style="padding: 0px 20px;"></div>
                                                        <div class="ace_layer ace_marker-layer"></div>
                                                        <div class="ace_layer ace_cursor-layer ace_hidden-cursors">
                                                            <div class="ace_cursor"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ace_scrollbar ace_scrollbar-v" style="display: none; width: 22px;">
                                                    <div class="ace_scrollbar-inner" style="width: 22px;"></div>
                                                </div>
                                                <div class="ace_scrollbar ace_scrollbar-h" style="display: none; height: 22px;">
                                                    <div class="ace_scrollbar-inner" style="height: 22px;"></div>
                                                </div>
                                                <div style="height: auto; width: auto; top: -100px; left: -100px; visibility: hidden; position: fixed; white-space: pre; font: inherit; overflow: hidden;">
                                                    <div style="height: auto; width: auto; top: -100px; left: -100px; visibility: hidden; position: fixed; white-space: pre; font: inherit; overflow: visible;"></div>
                                                    <div style="height: auto; width: auto; top: -100px; left: -100px; visibility: hidden; position: fixed; white-space: pre; font: inherit; overflow: visible;">X</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="view preview-view" data-js-previewview="" style="display: none;">
                                            <div class="html-preview editor" data-js-htmlpreview=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-form--footer" data-js-footer="">
                    <div class="post-form--tag-editor" data-subview="tagEditor">
                        <div class="tag-input-wrapper" data-js-taginputfieldwrapper="">
                            <div data-name="tagInput" data-subview="tagInputField">
                                <div data-js="editor-wrapper" class="editor-wrapper" style="position: relative;">
                                    <div data-js="editor-slot" class="editor-slot" style="position: relative;">
                                        <div class="editor editor-plaintext" aria-label="Post tags" contenteditable="true" data-js-plaintexteditor=""><span>&#8203;</span></div>
                                        <!-- <div data-js="editor-placeholder" class="editor-placeholder" style="position: absolute;">#tags</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="ghost pinned-target" data-js-taginputghost=""></div>
                        </div>
                    </div>
                    <div data-subview="editorButtons"></div>
                </div>
                <div class="post-form--guard"></div>
                <div class="post-form--bottom" data-js-bottom="">
                    <div class="post-form--controls" data-js-postformcontrols="">
                        <div class="controls-container">
                            <div class="control left">
                                <button class="tx-button" data-js-clickableclose="">Close</button>
                            </div>
                            <div class="control right">
                                <div class="post-forms--social-buttons" data-subview="socialButtons">
                                    <ul class="social-buttons">
                                        <li data-js-twitter="" data-service="twitter" data-js-tweetdropdownpin="" class="social-button twitter hidden checked pinned-target">
                                            <label class="social-button--label social-button--twitter" data-js-shareicon="" data-js-twittericon=""></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="control right">
                                <div class="post-form--save-button" data-subview="savePostButton">
                                    <div class="split-button" role="button">
                                        <div class="knight-rider-container" data-subview="loader" style="display: none;">
                                            <div class="knight-rider-loader centered small" data-js-knightrider="">
                                                <div class="knight-rider-bar"></div>
                                                <div class="knight-rider-bar"></div>
                                                <div class="knight-rider-bar"></div>
                                            </div>
                                        </div>
                                        <button class="button-area create_post_button disabled" data-js-clickablesave="" disabled="">Save</button>
                                        <div class="dropdown-area icon_arrow_carrot_down pinned-target" data-js-clickablesavedropdown=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-form--error-bar" data-subview="errorBar"></div>
                </div>
                <div data-subview="richTextEditorTutorial"></div>
            </div>
        </div>
    </div>
</body>
</html>