@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#routine{
    margin-top: 10%;
    text-align: center;
}
